$color-party-girl: #fc338f;
$color-raspberry: #c82671;
$color-wild-sand: #f4f4f4;
$color-mystic: #e0e8eb;
$color-aero-blue: #bde7d9;
$color-astronaut: #4d5176;
$color-white: #fff;
$color-black: #000;
