@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato&display=swap');

// Typography Settings
$font-base-size: 16px;

// Font Faces
@mixin font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

@mixin font-lato {
  font-family: 'Lato', sans-serif;
}

// Abstracted Fonts
@mixin font-primary {
  @include font-lato();
}

@mixin font-accent {
  @include font-inconsolata();
  letter-spacing: 0.05em;
}
