@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap');

// Typography Settings
$font-base-size: 16px;

// Font Faces
@mixin font-josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

// Abstracted Fonts
@mixin font-primary {
  @include font-open-sans();
}

@mixin font-accent {
  @include font-josefin-sans();
}
