.nav {
  text-align: center;
  overflow: auto;

  &__title {
    @include font-accent();
    font-size: 2em;
    color: $color-party-girl;
    display: inline-block;
  }

  ul {
    @include flex-container();
    list-style: none;
    padding: 0;

    li {
      @include breakpoint() {
        display: inline-block;
        padding: 1rem 0.5rem;
      }

      a {
        @include font-accent();
        display: block;
        color: $color-astronaut;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5em 1em;
        line-height: 1em;
      }
    }
  }
}
